.table {
    margin: 1% 5%;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    /* border: 1px solid #ccc; */
    text-align: left;
}


.mission-list {
  padding: 20px;
  text-align: left;
}

.mission-status {
    width: 15%;
}

.mission-action {
    width: 15%;
}