nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 60px;
  align-items: center;
}

nav a.active {
  text-decoration: none;
}

img {
  width: 40px;
}

.links {
  display: flex;
  gap: 20px;
  font-size: 15px;
}

.link {
  display: flex;
  text-decoration: none;
  color: #3a3aa8;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-text {
  color: #000;
  /* font-weight: 700; */
  margin-left: 10px;
  font-size: 20px;
}