nav {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid gray;
  align-items: center;
}

nav a.active {
  text-decoration: none;
  font-weight: bold;
}

.main-link {
  display: flex;
  gap: 50px;
  text-decoration: none;
}

.main-link h1 {
  font-size: 32px;
}

img {
  width: 80px;
  height: 80px;
}

.links {
  display: flex;
  gap: 40px;
  font-size: 24px;
}

.link {
  display: flex;
}
