nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

nav a.active {
  text-decoration: none;
  font-weight: bold;
}

img {
  width: 50px;
}

.links {
  display: flex;
  gap: 40px;
  font-size: 24px;
}

.link {
  display: flex;
}
