.container {
  width: 50%;
}

.list {
  padding-top: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.list-item {
  font-size: 24px;
  padding: 1rem 0.5rem;
  width: 100%;
  border: 1px solid #ccc;
}

.no-reserve {
  margin-top: 20px;
  font-size: 24px;
}
